body {
  background-color: $color-0;
  font-family: outfit, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.25;
  color: rgba($color-6, 0.8);
}

h1 {
  font-weight: 600;
  font-size: 34px;
  line-height: 1;
}

h1,
h2 {
  color: $color-3;
}

h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
}

h3 {
  color: $color-3;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.25;
}

@media (min-width: 768px) {
  body {
    background-color: $color-0;
    font-family: outfit, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.45;
  }

  h1 {
    font-weight: 600;
    font-size: 42px;
    line-height: 1;
  }

  h1,
  h2 {
    color: $color-3;
  }

  h2 {
    font-weight: 600;
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }

  h3 {
    color: $color-3;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
  }
}

@media (min-width: 1440px) {
  body {
    background-color: $color-0;
    font-family: outfit, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.45;
  }

  h1 {
    font-weight: 600;
    font-size: 74px;
    line-height: 1;
    letter-spacing: 0.02em;
  }

  h1,
  h2 {
    color: $color-3;
  }

  h2 {
    font-weight: 600;
    font-size: 54px;
    line-height: 1.2;
  }

  h3 {
    color: $color-3;
    font-weight: 600;
    font-size: 28px;
    line-height: 1.25;
  }
}
