.ability-wrapper {
  padding-top: 26px;
}

.ability-wrapper h2 {
  margin-bottom: 32px;
  letter-spacing: 2px;
}

.ability-svg {
  fill: $color-7;
  width: 13px;
  height: 13px;
  border-radius: 50%;
}

.ability-item {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .ability-br {
    display: none;
  }
}

@media (min-width: 1440px) {
  .ability {
    padding-left: 110px;
  }

  .ability-wrapper {
    padding-top: 85px;
  }

  .ability-wrapper h2 {
    margin-bottom: 60px;
  }

  .ability-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .ability-item {
    margin-bottom: 30px;
  }
}
